.container {
  max-width: 1200px;
  width: 98%;
  margin: 0 auto; }
h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: #3F4649; }
ul {
  list-style-type: none; }
a {
  text-decoration: none; }
.page-header {
  background-color: #3F4649;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.menubar {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #55646A;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.mainmenu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.mainmenu-link {
  font-size: 24px;
  padding: 25px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}
.mainmenu-link:hover {
  background-color: #34464E;
}
.header-caption {
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  font-family: "Nunito", sans-serif;
  color: #fff;
}
.header-button-area {
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 5%;
  border: 3px solid #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}
.header-button-area:hover {
  background-color: #fff;
  color: #000;
}
.header-button-area:hover span {
  border-color: #3F4649;
}
.header-button-area span {
    border: 2px solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    margin-top: 18px;
    padding: 7px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hide-menu {
  display: none;
  position: absolute;
  top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  right: 20px;
  top: 15px;
  z-index: 100; }
.hide-menu .hide-line {
  position: absolute;
  display: block;
  width: 85%;
  left: 10%;
  height: 3px;
  background-color: #fff;
  border-radius: 10px; }
.hide-menu .hide-line-top {
  top: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.hide-menu .hide-line-middle {
  top: 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.hide-menu .hide-line-bottom {
  top: 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.hide-menu.active-menu .hide-line-top {
  top: 20px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
.hide-menu.active-menu .hide-line-middle {
  opacity: 0; }
.hide-menu.active-menu .hide-line-bottom {
  top: 20px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }


.tabs-btns-wrapper {
  max-width: 400px;
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #55646A;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  }
.tabs-btns-wrapper li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.tabs-btn {
  font-size: 20px;
  color: #fff;
  padding: 20px;
  width: 100%;
  background-color: #55646A;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  position: relative;
}
.tabs-btn:hover {
  background-color: #34464E;
}
.tabs-items-wrapper {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.active-tab {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.active-tab-btn{
  background-color: #34464E;
}
.portfolio {
  margin-bottom: 40px;
  padding-top: 40px; }
.portfolio h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 4px;
  background-color: #3F4649;
  margin: auto;
  margin-top: 15px; }
.portfolio p {
  font-size: 20px;
  text-align: center;
  margin: 40px 0;
  font-family: "Roboto Slab", serif;
  color: #fff; }
.portfolio-item {
  width: 45%;
  margin-bottom: 20px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.portfolio-link {
  display: block;
  position: relative;
  overflow: hidden; }
.portfolio-link:hover .overlay {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.overlay {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
 -webkit-box-pack: justify;
   -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #55646A;
  overflow: hidden;
}
.overlay p {
  font-family: "Nunito", sans-serif;
  font-size: 34px;
  font-weight: bold;
}
.portfolio-link .img-responsive {
  display: block;
  width: 100%;
  height: auto; }



.about {
  background-color: #3F4649;
  color: #fff;
  margin-bottom: 50px;
  padding: 40px 0; }
.about-caption {
  color: #fff;
}
.about-items-wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-item {
  width: 30%;
}
.about-item p {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  text-align: center; }


.contact {
  padding: 40px 0; }
.contact-form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}
input::-webkit-input-placeholder{
  color: #55646A;
}
.contact-form-item {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  margin-bottom: 20px;
  border: 3px solid #55646A;
  text-transform: uppercase;
  resize: none;
  outline: none;
  font-style: italic;
  font-weight: bold;
  color: #131D20;
  font-size: 16px; }
.contact-form-item:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid #131D20; }
.contact-button{
  background-color: #55646A;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  border: none;
}
.contact-button:hover,
.contact-button:focus {
  background-color: #131D20;
  border-color: #131D20;
  color: #fff;
}
.empty {
  border-color: red;
}
.message {
  text-align: center;
  font-size: 24px;
  color: #55646A;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.page-footer {
  background-color: #3F4649;
  padding: 25px 0; }
.page-footer p {
  color: #fff;
  text-align: center;
  font-family: "Roboto Slab", serif; 
  font-size: 16px }
.footer-top {
  margin-bottom: 15px; }
.footer-links {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0; }
.footer-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px; }
.footer-links a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%; }
.footer-top .skype-icon {
  background-image: url(../img/skype.svg);
  background-size: 100%;}
.footer-top .vk-icon {
  background-image: url(../img/vk.svg);
  background-size: 100%;}

@media only screen and (max-width: 975px){
  .portfolio-item {
    width: 95%;
  }
  .overlay p {
    font-size: 50px;
  }
  .about-items-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about-item {
    width: 100%;
  }
}
@media only screen and (max-width: 740px) {
  .header-caption {
    font-size: 40px; }
  .portfolio h2:after {
    display: none; }

  .menubar {
    -webkit-transform: translateY(-250px);
        -ms-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  .hide-menu {
    display: block;
  }
  #home {
    display: none;
  }
  .menubar-mobile {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    padding: 0;
    padding-top: 70px;
  }
  .mainmenu {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .mainmenu-link {
    padding: 0;
    display: block;
    padding: 20px;
    text-align: center;
  }
  .about-item p {
    margin-bottom: 20px; }
}
@media only screen and (max-width: 460px) {
  .header-button-area {
    bottom: 15%;
  }
}