.page-header {
  height: 100vh;
  background: url(../img/header-bg.jpg);
  background-attachment: fixed;
  text-align: center;
  position: relative;
  margin: 0;
  margin-bottom: 45px;
  overflow: hidden; }
  .page-header .header-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: 20px; }
  .page-header .header-caption {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: bold; }
    .page-header .header-caption:before {
      content: "";
      display: block;
      width: 850px;
      height: 4px;
      background-color: #fff;
      margin: auto;
      margin-bottom: 15px; }
    .page-header .header-caption:after {
      content: "";
      display: block;
      width: 850px;
      height: 4px;
      background-color: #fff;
      margin: auto;
      margin-top: 15px; }
  .page-header .header-button-area {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 25px;
    border: 3px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center; }
    .page-header .header-button-area:hover {
      background-color: #fff;
      -webkit-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
    .page-header .header-button-area:hover span {
      -webkit-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      border: 2px solid #000;
      border-width: 0 4px 4px 0; }
    .page-header .header-button-area span {
      border: 2px solid #fff;
      border-width: 0 4px 4px 0;
      display: inline-block;
      margin-top: 14px;
      padding: 7px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

.menubar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0px;
  height: 70px;
  width: 100%;
  z-index: 100;
  background-color: #FFF;
  margin-top: 0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  .menubar .hide-menu {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 20px;
    top: 10px; }
    .menubar .hide-menu .hide-line {
      position: absolute;
      display: block;
      width: 85%;
      left: 10%;
      height: 3px;
      background-color: #000;
      -webkit-border-radius: 10px;
              border-radius: 10px; }
    .menubar .hide-menu .hide-line-top {
      top: 12px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .menubar .hide-menu .hide-line-middle {
      top: 22px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .menubar .hide-menu .hide-line-bottom {
      top: 32px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .menubar .hide-menu.active-menu .hide-line-top {
      top: 25px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .menubar .hide-menu.active-menu .hide-line-middle {
      opacity: 0; }
    .menubar .hide-menu.active-menu .hide-line-bottom {
      top: 25px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .menubar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    width: 40%;
    margin: 0; }
    .menubar ul li {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .menubar ul li a {
        color: #777777;
        font-size: 14px;
        font-family: "Roboto Slab", serif;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 10px;
        -webkit-transition: color 400ms ease;
        transition: color 400ms ease; }
        .menubar ul li a:hover {
          color: #222222; }
        .menubar ul li a:active {
          color: #222222; }

.about {
  background-color: #f5f5f5;
  color: #000000;
  margin-bottom: 10px; }
  .about h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    color: #222222; }
  .about p {
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    color: #000000;
    margin-bottom: 50px; }

.portfolio {
  margin-bottom: 50px; }
  .portfolio h2 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222222;
    text-transform: uppercase; }
    .portfolio h2:after {
      content: "";
      display: block;
      width: 25%;
      height: 4px;
      background-color: #000;
      margin: auto;
      margin-top: 15px; }
  .portfolio p {
    font-size: 20px;
    text-align: center;
    margin: 40px 0;
    font-family: "Roboto Slab", serif;
    color: #000000; }
  .portfolio .portfolio-item {
    margin-bottom: 20px; }
  .portfolio .portfolio-link {
    display: block; }
    .portfolio .portfolio-link .img-responsive {
      width: 100%;
      height: auto; }

@media only screen and (max-width: 738px) {
  .page-header .header-caption {
    font-size: 40px; }
    .page-header .header-caption:before {
      display: none; }
    .page-header .header-caption:after {
      display: none; }
  .portfolio h2:after {
    display: none; }
  .menubar {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
    .menubar .header-logo {
      color: black; }
    .menubar ul {
      padding-left: 15px;
      padding-top: 15px; }
    .menubar .mainmenu {
      display: block;
      background-color: #fff;
      width: 100%; }
      .menubar .mainmenu li {
        padding-top: 10px; }
        .menubar .mainmenu li a {
          color: #222222; }
          .menubar .mainmenu li a:hover {
            color: #777777; }
  .menubar {
    margin: 0; }
    .menubar .mainmenu-hide {
      display: none; }
    .menubar .hide-menu {
      display: block; }
  .page-header .header-text {
    top: 30%; }
  .about {
    text-align: center; } }

.page-footer {
  background-color: #222222;
  padding: 50px 0; }
  .page-footer p {
    color: #fff;
    text-align: center;
    font-family: "Roboto Slab", serif; }
  .page-footer .footer-top {
    margin-bottom: 15px; }
    .page-footer .footer-top h4 {
      text-align: center;
      color: #fff;
      font-family: "Nunito", sans-serif; }
    .page-footer .footer-top ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      list-style-type: none;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0; }
      .page-footer .footer-top ul li {
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 50px;
        margin: 0 10px; }
        .page-footer .footer-top ul li a {
          width: 50px;
          height: 50px;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
        .page-footer .footer-top ul li .skype-icon {
          background-image: url(../img/social.png);
          background-repeat: no-repeat;
          background-position: -7px -6px; }
        .page-footer .footer-top ul li .vk-icon {
          background-image: url(../img/social.png);
          background-repeat: no-repeat;
          background-position: -143px -6px; }

.contact {
  margin-bottom: 50px; }
  .contact h2 {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222222;
    margin-bottom: 20px; }
  .contact .form-control {
    font-family: "Roboto Slab", serif;
    height: auto;
    padding: 20px;
    color: #777777; }
    .contact .form-control:focus {
      -webkit-box-shadow: none;
              box-shadow: none;
      border: 1px solid #777777;
      -webkit-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
  .contact .btn-block {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #222222; }
    .contact .btn-block:hover {
      background-color: #222222;
      color: #fff;
      -webkit-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
    .contact .btn-block:focus {
      outline: 0; }

.container {
  max-width: 1200px;
  width: 97%;
  margin: 0 auto; }
