.contact {
  background-image: url(../img/contact-bg.jpg);
  background-position: 65% 0;
  padding-top: 60px;
  padding-bottom: 80px;
  overflow: hidden; }
.contact-container {
  max-width: 455px;
  width: 97%;
  margin: 0 auto; }
.contact-container p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 50px; }
.contact-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.contact-form-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.contact-form-row .contact-form-item {
  width: 40%;
}
.contact-button{
  background-color: #b7b7b7;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact-button:hover {
  background-color: #000;
  color: #fff;
}
.contact-form-item {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  margin-bottom: 20px;
  color: #808080;
  height: auto;
  border: 1px solid #999;
  text-transform: uppercase;
  resize: none;
  outline: none;
  font-style: italic;
  font-size: 12px;
  -webkit-border-radius: 15px;
          border-radius: 15px;}
.contact-form-item:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #999;}
