.page-header {
  padding-top: 65px;
  margin-bottom: 60px; }

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .header-wrapper form {
    position: relative; }
  .header-wrapper .header-logo {
    text-decoration: none;
    max-width: 300px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }

.header-logo-pic {
  height: 55px;
  width: 55px; }

.header-logo-text {
  font-family: "grotesk", sans-serif;
  color: #9aa5a9;
  font-size: 36px;
  padding: 0 15px;
  letter-spacing: 5px; }

.header-search {
  max-width: 180px;
  width: 100%;
  background-color: #272f45;
  border: none;
  border-bottom: 2px solid #92a1a9;
  color: #92a1a9;
  outline: none;
  font-family: "grotesk", sans-serif;
  font-size: 24px;
  padding-bottom: 5px;
  padding-left: 35px; }
  .header-search::-webkit-input-placeholder {
    color: #92a1a9; }

.submit-button {
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: none;
  background-image: url(../img/svg/search.svg);
  background-size: 100%;
  position: absolute;
  top: 5px;
  left: 0; }

.main-product-item-row {
  margin-bottom: 35px; }
  .main-product-item-row .product-item {
    position: relative; }
    .main-product-item-row .product-item .kickstarter-img {
      position: absolute;
      top: 3%;
      right: 3%;
      max-width: 100%; }

.gina .product-item-text-wrapper {
  position: absolute;
  top: 16%;
  left: 5%;
  max-width: 370px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60%; }
  .gina .product-item-text-wrapper span {
    display: block;
    font-family: "league";
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; }
  .gina .product-item-text-wrapper p {
    font-size: 32px; }
  .gina .product-item-text-wrapper a {
    font-size: 24px;
    padding: 15px 15px;
    max-width: 160px;
    width: 100%; }

.product-item-row {
  margin-bottom: 30px; }

.product-item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .product-item-wrapper .beoplay .product-item-text-wrapper {
    right: 5%;
    text-align: right;
    max-width: 80%; }
    .product-item-wrapper .beoplay .product-item-text-wrapper .main-button {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      width: 80px; }
  .product-item-wrapper .leica .product-item-text-wrapper {
    left: 5%;
    max-width: 80%; }
    .product-item-wrapper .leica .product-item-text-wrapper .main-button {
      width: 80px; }
  .product-item-wrapper .product-item {
    position: relative;
    margin-right: 3%; }
    .product-item-wrapper .product-item:last-child {
      margin-right: 0; }
    .product-item-wrapper .product-item .product-item-text-wrapper {
      position: absolute;
      top: 5%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 60%; }
      .product-item-wrapper .product-item .product-item-text-wrapper p {
        font-size: 24px; }

.bottom-row {
  margin-bottom: 120px; }
  .bottom-row .signature .product-item-text-wrapper {
    top: 50%; }
  .bottom-row .product-item .product-item-text-wrapper {
    width: 100%;
    height: 40%; }
    .bottom-row .product-item .product-item-text-wrapper p {
      font-size: 16px;
      text-align: center; }
    .bottom-row .product-item .product-item-text-wrapper .main-button {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
                  -ms-grid-row-align: center;
              align-self: center;
      width: 80px; }

.description {
  margin-bottom: 70px; }
  .description p {
    color: #92a1a9;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 15%; }
  .description .main-p {
    font-size: 36px;
    margin-bottom: 20px; }
  .description .subscribe-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .description .subscribe-form .email-input {
      background-color: #272f45;
      border: none;
      border: 3px solid #92a1a9;
      width: 360px;
      font-family: "grotesk", sans-serif;
      font-size: 24px;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 20px;
      text-align: center;
      outline: none;
      color: #92a1a9; }
      .description .subscribe-form .email-input::-webkit-input-placeholder {
        color: #92a1a9; }
    .description .subscribe-form .submit-input {
      background-color: #272f45;
      border: none;
      border: 3px solid #82c9d8;
      width: 365px;
      font-family: "grotesk", sans-serif;
      font-size: 22px;
      padding: 10px 0;
      text-transform: uppercase;
      color: #fff;
      outline: none;
      cursor: pointer; }
      .description .subscribe-form .submit-input:hover {
        background-color: #82c9d8;
        color: #000;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }

.page-footer {
  margin-bottom: 50px; }

.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  list-style-type: none;
  padding: 0; }
  .footer-ul a {
    color: #92a1a9;
    font-family: "grotesk", sans-serif;
    font-size: 24px;
    text-decoration: none;
    margin: 0 15px; }

.page-footer p {
  text-align: center;
  color: #92a1a9;
  font-size: 18px;
  font-family: "grotesk", sans-serif; }

@media only screen and (max-width: 960px) {
  .gina .product-item-text-wrapper span {
    font-size: 60px; }
  .gina .product-item-text-wrapper p {
    font-size: 24px; }
  .gina .product-item-text-wrapper a {
    font-size: 18px; } }

@media only screen and (max-width: 840px) {
  .bottom-row {
    margin-bottom: 80px; }
  .product-item-row h3 {
    font-size: 24px; } }

@media only screen and (max-width: 810px) {
  .product-item-row h2 {
    font-size: 34px; }
  .product-item-wrapper .product-item .product-item-text-wrapper p {
    font-size: 18px; } }

@media only screen and (max-width: 740px) {
  .bottom-row .product-item .product-item-text-wrapper .main-button {
    width: 60px;
    padding: 5px 7px; } }

@media only screen and (max-width: 690px) {
  .gina .product-item-text-wrapper span {
    font-size: 40px; }
  .gina .product-item-text-wrapper p {
    font-size: 20px; }
  .gina .product-item-text-wrapper a {
    font-size: 16px;
    max-width: 100px; } }

@media only screen and (max-width: 600px) {
  .bottom-row .product-item-wrapper .product-item p {
    font-size: 12px; }
  .bottom-row .product-item-wrapper .product-item h3 {
    font-size: 16px; } }

@media only screen and (max-width: 580px) {
  .bottom-row {
    margin-bottom: 40px; }
  .product-item-row h2 {
    font-size: 26px; }
  .product-item-wrapper .beoplay .product-item-text-wrapper .main-button {
    width: 60px;
    padding: 5px 7px; }
  .product-item-wrapper .leica .product-item-text-wrapper .main-button {
    width: 60px;
    padding: 5px 7px; }
  .product-item-wrapper .product-item .product-item-text-wrapper p {
    font-size: 14px; } }

@media only screen and (max-width: 555px) {
  .description {
    margin-bottom: 30px; }
  .footer-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0; }
    .footer-ul li {
      text-align: center; } }

@media only screen and (max-width: 530px) {
  .gina .kickstarter-img {
    width: 70px; }
  .gina .product-item-text-wrapper span {
    font-size: 24px; }
  .gina .product-item-text-wrapper p {
    font-size: 16px; }
  .gina .product-item-text-wrapper a {
    font-size: 12px;
    max-width: 60px; } }

@media only screen and (max-width: 445px) {
  .bottom-row .product-item-wrapper .product-item p {
    display: none; }
  .bottom-row .product-item-wrapper .product-item h3 {
    font-size: 14px; }
  .bottom-row .product-item-wrapper .product-item .main-button {
    width: 40px;
    font-size: 14px; }
  .product-item-row h2 {
    font-size: 18px; }
  .product-item-row p {
    font-size: 12px; }
  .page-header {
    padding-top: 20px;
    margin-bottom: 20px; }
  .header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header-wrapper .header-logo {
      margin-bottom: 10px; } }

@media only screen and (max-width: 400px) {
  .product-item-row p {
    display: none; }
  .description .main-p {
    font-size: 24px; }
  .description .subscribe-form {
    padding: 0 3%; }
    .description .subscribe-form .email-input {
      max-width: 355px;
      width: 100%; }
    .description .subscribe-form .submit-input {
      max-width: 360px;
      width: 100%; } }

@media only screen and (max-width: 360px) {
  .bottom-row .product-item-wrapper .product-item h3 {
    font-size: 12px; } }

body {
  background-color: #272f45; }

.container {
  max-width: 1160px;
  width: 97%;
  margin: 0 auto; }

img {
  max-width: 100%; }

.main-button {
  font-family: "league";
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border: 3px solid #eec9a2;
  padding: 10px 15px;
  display: block;
  max-width: 110px;
  text-align: center; }
  .main-button:hover {
    -webkit-border-radius: 45%;
            border-radius: 45%;
    border-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

h2 {
  font-family: "league";
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0; }

h3 {
  font-family: "league";
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  text-align: center; }

p {
  font-family: "grotesk", sans-serif;
  color: #fff;
  margin: 0; }
