.page-header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px; }

.header-menu-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-basis: 85%;
      -ms-flex-preferred-size: 85%;
          flex-basis: 85%; }
  .header-menu-column ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 10px; }

.header-top-navigation li {
  margin-left: 25px; }
  .header-top-navigation li a {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #434343;
    text-decoration: none; }
    .header-top-navigation li a:hover {
      text-decoration: underline; }

.header-buttons {
  background-color: #f6f6f6;
  padding: 35px 0; }
  .header-buttons li {
    margin-left: 5px;
    position: relative; }
    .header-buttons li a {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      padding: 35px 25px;
      background-color: #05aecc; }
      .header-buttons li a:hover {
        background-color: #048ba3; }
    .header-buttons li .red-link {
      background-color: #f0626e; }
      .header-buttons li .red-link:hover {
        background-color: #c04e58; }
    .header-buttons li .header-link-icon {
      padding-right: 50px; }
    .header-buttons li span {
      position: absolute;
      top: -5px;
      right: 15px;
      width: 25px;
      height: 25px; }
    .header-buttons li .whislost-img {
      background-image: url(../img/svg/gift.svg);
      background-size: 100%; }
    .header-buttons li .cart-img {
      background-image: url(../img/svg/cart.svg);
      background-size: 100%; }

.main-menu {
  margin-bottom: 15px; }
  .main-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    background-color: #05aecc;
    padding: 20px 0; }
    .main-menu ul .hide-menu-open-li {
      position: relative; }
      .main-menu ul .hide-menu-open-li:hover .hide-menu-ul {
        display: block;
        -webkit-box-shadow: 2px -3px 47px -9px rgba(0, 0, 0, 0.75);
                box-shadow: 2px -3px 47px -9px rgba(0, 0, 0, 0.75); }
      .main-menu ul .hide-menu-open-li:hover .open-link {
        background-color: #fff;
        color: #ef5966; }
    .main-menu ul li:hover .hide-menu-ul {
      display: block; }
    .main-menu ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-family: "Lato", sans-serif;
      padding: 22px 30px;
      font-size: 16px; }
      .main-menu ul li a:hover {
        background-color: #fff;
        color: #ef5966; }
  .main-menu .hide-menu-ul {
    position: absolute;
    top: 40px;
    display: none;
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 225px;
    padding: 0 20px;
    z-index: 10; }
    .main-menu .hide-menu-ul li:last-child {
      padding: 10px 0; }
  .main-menu .hide-menu-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    border-bottom: 1px solid #cacaca;
    padding: 20px 0; }
    .main-menu .hide-menu-item h3 {
      font-size: 16px;
      font-family: "Lato", sans-serif;
      color: #ef5966;
      margin-bottom: 4px;
      letter-spacing: 1.2px; }
    .main-menu .hide-menu-item p {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      margin-bottom: 4px; }
    .main-menu .hide-menu-item a {
      background-color: #05aecc;
      font-size: 12px;
      padding: 3px 23px; }
      .main-menu .hide-menu-item a:hover {
        background-color: #048ba3;
        color: #fff; }
  .main-menu .hide-menu-item-pic {
    margin-right: 10px; }
    .main-menu .hide-menu-item-pic img {
      height: 75px;
      width: 70px; }
  .main-menu .hide-menu-open-link {
    color: #f0626e;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding: 0; }
    .main-menu .hide-menu-open-link:hover {
      color: #c04e58; }

.main-products {
  margin-bottom: 50px; }

.main-products-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .main-products-wrapper .main-products-column:first-child {
    margin-right: 5px; }

.product-item {
  margin-bottom: 5px;
  position: relative; }
  .product-item:hover .product-overlay {
    background-color: rgba(54, 42, 79, 0.6); }
  .product-item .product-item-link {
    display: block;
    position: relative; }
  .product-item .product-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 42, 79, 0); }
  .product-item .product-info {
    position: absolute; }
  .product-item .product-text {
    position: absolute;
    bottom: 2%;
    width: 50%;
    padding: 10px 20px;
    padding-right: 0;
    background-color: #f0626e; }
    .product-item .product-text p {
      font-family: "Aparajita", sans-serif;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase; }
  .product-item .product-info-women {
    background-color: rgba(54, 42, 79, 0.8);
    width: 50%;
    bottom: 2%;
    padding: 10px 20px;
    padding-right: 0;
    position: absolute; }
    .product-item .product-info-women .colored-span {
      font-family: "Aparajita", sans-serif;
      font-weight: bold;
      font-size: 35px;
      color: #f0626e;
      text-transform: uppercase; }
    .product-item .product-info-women p {
      font-family: "Lato", sans-serif;
      font-size: 13px;
      color: #fff;
      text-transform: uppercase; }
  .product-item .product-info-jewelry {
    padding: 5px 30px;
    padding-right: 140px;
    right: 0;
    top: 0;
    -webkit-transform: rotate(-90deg) translate(0, -100%);
        -ms-transform: rotate(-90deg) translate(0, -100%);
            transform: rotate(-90deg) translate(0, -100%);
    -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
    position: absolute;
    background-color: rgba(54, 42, 79, 0.8); }
    .product-item .product-info-jewelry .button-area-wrapper {
      width: 90px;
      height: 90px;
      position: absolute;
      right: 5%;
      bottom: 0;
      background-color: #f0626e; }
      .product-item .product-info-jewelry .button-area-wrapper:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: -9%;
        border-top: 8px solid #c04e58;
        border-left: 8px solid transparent;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
      .product-item .product-info-jewelry .button-area-wrapper .button-area {
        height: 55px;
        width: 55px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        position: absolute;
        top: 20%;
        left: 20%;
        background-image: url(../img/svg/down-arrow.svg);
        background-repeat: no-repeat;
        background-position: 50% 55%;
        background-size: 50%;
        background-color: #fff; }
    .product-item .product-info-jewelry .colored-span {
      font-family: "Aparajita", sans-serif;
      font-size: 64px;
      text-transform: uppercase;
      color: #fff; }
  .product-item .product-info-crafts {
    position: absolute;
    background-color: rgba(54, 42, 79, 0.8);
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .product-item .product-info-crafts .colored-span {
      font-family: "Lato", sans-serif;
      font-size: 30px;
      text-transform: uppercase;
      color: #fff;
      line-height: 50px;
      padding: 0 30px; }
    .product-item .product-info-crafts .gift {
      padding: 25px;
      background-color: #05aecc;
      border: none;
      background-image: url(../img/svg/gift.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 60%; }
      .product-item .product-info-crafts .gift:hover {
        background-color: #048ba3; }
    .product-item .product-info-crafts .add-to-cart {
      padding: 25px;
      background-color: #f0626e;
      border: none;
      background-image: url(../img/svg/cart.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 60%; }
      .product-item .product-info-crafts .add-to-cart:hover {
        background-color: #c04e58; }
    .product-item .product-info-crafts .price {
      font-family: "Lato", sans-serif;
      font-size: 24px;
      line-height: 50px;
      color: #fff;
      padding: 0 10px;
      background-color: #3c3c3c; }
      .product-item .product-info-crafts .price sup {
        font-size: 14px; }
  .product-item .product-info-baby {
    background-color: rgba(54, 42, 79, 0.8);
    bottom: 10%;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute; }
    .product-item .product-info-baby .colored-span {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      color: #fff;
      line-height: 50px;
      padding: 0 10px; }
    .product-item .product-info-baby .gift {
      padding: 25px;
      background-color: #05aecc;
      border: none;
      background-image: url(../img/svg/gift.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 60%; }
      .product-item .product-info-baby .gift:hover {
        background-color: #048ba3; }
    .product-item .product-info-baby .add-to-cart {
      padding: 25px;
      background-color: #f0626e;
      border: none;
      background-image: url(../img/svg/cart.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 60%; }
      .product-item .product-info-baby .add-to-cart:hover {
        background-color: #c04e58; }
    .product-item .product-info-baby .price {
      font-family: "Lato", sans-serif;
      font-size: 24px;
      line-height: 50px;
      color: #fff;
      padding: 0 10px;
      background-color: #3c3c3c; }
      .product-item .product-info-baby .price sup {
        font-size: 14px; }
  .product-item .product-info-men {
    background-color: rgba(54, 42, 79, 0.8);
    width: 50%;
    bottom: 10%;
    padding: 10px 20px;
    padding-right: 0;
    position: absolute; }
    .product-item .product-info-men .colored-span {
      font-family: "Aparajita", sans-serif;
      font-weight: bold;
      font-size: 58px;
      line-height: 50px;
      color: #f0626e;
      text-transform: uppercase; }
    .product-item .product-info-men p {
      font-family: "Lato", sans-serif;
      font-size: 13px;
      color: #fff;
      text-transform: uppercase; }

.search-item {
  background-color: #f0626e;
  margin-bottom: 5px; }

.product-form {
  padding: 50px 30px;
  position: relative; }
  .product-form .input-search {
    width: 70%;
    padding: 25px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    border: none;
    outline: none; }
  .product-form .search-button {
    position: absolute;
    top: 35%;
    left: 72%;
    height: 50px;
    width: 50px;
    background-color: #f0626e;
    border: none;
    outline: none;
    background-image: url(../img/svg/search.svg);
    background-size: 100%;
    cursor: pointer; }

.new-products {
  margin-bottom: 50px; }

.new-products-slider-item {
  max-width: 370px;
  position: relative;
  margin-right: 30px; }
  .new-products-slider-item:hover .new-products-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .new-products-slider-item:hover .new-products-slider-item-overlay {
    background-color: rgba(54, 42, 79, 0.6); }

.new-products-slider-item-link {
  display: block;
  position: relative; }
  .new-products-slider-item-link .new-products-slider-item-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 42, 79, 0); }

.new-products-info {
  display: none;
  position: absolute;
  top: 45%;
  left: 10%; }
  .new-products-info .colored-span {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
    padding: 0 10px;
    background-color: #3c3c3c; }
  .new-products-info .gift {
    padding: 25px;
    background-color: #05aecc;
    border: none;
    background-image: url(../img/svg/gift.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%; }
    .new-products-info .gift:hover {
      background-color: #048ba3; }
  .new-products-info .add-to-cart {
    padding: 25px;
    background-color: #f0626e;
    border: none;
    background-image: url(../img/svg/cart.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%; }
    .new-products-info .add-to-cart:hover {
      background-color: #c04e58; }
  .new-products-info .price {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    line-height: 50px;
    color: #fff;
    padding: 0 10px;
    background-color: #3c3c3c; }
    .new-products-info .price sup {
      font-size: 14px; }

.featured-products {
  margin-bottom: 50px; }

.featured-products-slider-item-new .featured-products-overlay-info .arrows-simple:hover,
.featured-products-slider-item-new .featured-products-overlay-info .gift-simple:hover,
.featured-products-slider-item-new .featured-products-overlay-info .add-to-cart-simple:hover {
  background-color: #05aecc; }

.featured-products-slider-item-new .featured-products-span {
  background-color: #05aecc;
  text-transform: none; }

.featured-products-slider-item-new .featured-products-overlay .price {
  background-color: #05aecc; }

.featured-products-slider-item {
  max-width: 270px;
  width: 100%;
  position: relative;
  margin-right: 30px; }

.featured-products-span {
  position: absolute;
  top: 5%;
  left: 0;
  color: #fff;
  max-width: 80px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  background-color: #f0626e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase; }

.feaured-products-slider-item-link {
  display: block;
  position: relative; }

.featured-products-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff; }

.featured-products-overlay-text {
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
  border-top: 1px solid #b9b9b9;
  padding: 12px; }
  .featured-products-overlay-text p {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    color: #f0626e; }

.featured-products-overlay-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #b9b9b9; }
  .featured-products-overlay-info button {
    padding: 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
    background-color: #fff;
    border: none;
    border: 1px solid #b9b9b9; }
    .featured-products-overlay-info button:hover {
      background-color: #f0626e; }
  .featured-products-overlay-info .arrows-simple {
    background-image: url(../img/svg/arrows-grey.svg); }
    .featured-products-overlay-info .arrows-simple:hover {
      background-image: url(../img/svg/arrows.svg); }
  .featured-products-overlay-info .gift-simple {
    background-image: url(../img/svg/gift-grey.svg); }
    .featured-products-overlay-info .gift-simple:hover {
      background-image: url(../img/svg/gift.svg); }
  .featured-products-overlay-info .add-to-cart-simple {
    background-image: url(../img/svg/cart-grey.svg); }
    .featured-products-overlay-info .add-to-cart-simple:hover {
      background-image: url(../img/svg/cart.svg); }
  .featured-products-overlay-info .price {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    line-height: 50px;
    color: #fff;
    padding: 0 26px;
    background-color: #f0626e;
    border-bottom: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9; }
    .featured-products-overlay-info .price sup {
      font-size: 14px; }

.info {
  margin-bottom: 30px; }
  .info p {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding: 25px;
    line-height: 26px; }
  .info h2 {
    margin: 0; }

.info-links-wrapper {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px; }
  .info-links-wrapper li {
    max-width: 370px;
    width: 100%; }
  .info-links-wrapper a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    padding: 85px 0;
    padding-right: 40px;
    width: 90%;
    text-align: right;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 30% 50%; }
  .info-links-wrapper .choose-products {
    background-color: #434343;
    background-image: url(../img/svg/screen.svg); }
    .info-links-wrapper .choose-products:hover {
      background-color: #323232; }
  .info-links-wrapper .register-login {
    background-color: #05aecc;
    background-image: url(../img/svg/login.svg); }
    .info-links-wrapper .register-login:hover {
      background-color: #048ba3; }
  .info-links-wrapper .checkout {
    background-color: #f0626e;
    background-image: url(../img/svg/credit-card.svg);
    padding: 102px 0;
    padding-right: 40px; }
    .info-links-wrapper .checkout:hover {
      background-color: #c04e58; }

.register-button {
  text-align: center;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  background-color: #05aecc;
  margin: 0 auto;
  max-width: 650px;
  width: 100%; }
  .register-button:hover {
    background-color: #048ba3; }

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #b9b9b9;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #b9b9b9; }

.footer-column .footer-column-top {
  margin-bottom: 30px; }

.footer-column .footer-form {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer-column h4 {
  font-family: "Lato", sans-serif;
  color: #676767;
  font-size: 25px;
  margin-bottom: 50px;
  text-transform: uppercase; }

.footer-column li {
  line-height: 30px; }

.footer-column a {
  font-family: "Lato", sans-serif;
  color: #676767;
  text-decoration: none;
  font-size: 16px; }
  .footer-column a:hover {
    text-decoration: underline; }

.footer-column .input-email {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding: 25px 105px;
  outline: none;
  border: 1px solid #dedede; }

.footer-column .submit-button {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding: 25px 130px;
  background-color: #05aecc;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff; }
  .footer-column .submit-button:hover {
    background-color: #048ba3; }

.footer-column-bottom h4 {
  margin: 0;
  margin-bottom: 20px; }

.footer-column-bottom ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer-column-bottom ul li a {
    display: block;
    width: 55px;
    height: 55px;
    margin-right: 10px; }
    .footer-column-bottom ul li a:hover {
      opacity: 0.9; }
  .footer-column-bottom ul li .icon-facebook {
    background: url(../img/svg/social/facebook.svg) 0 0 no-repeat;
    background-size: 100%; }
  .footer-column-bottom ul li .icon-google-plus {
    background: url(../img/svg/social/google-plus.svg) 0 0 no-repeat;
    background-size: 100%; }
  .footer-column-bottom ul li .icon-flickr {
    background: url(../img/svg/social/flickr.svg) 0 0 no-repeat;
    background-size: 100%; }
  .footer-column-bottom ul li .icon-rss {
    background: url(../img/svg/social/rss.svg) 0 0 no-repeat;
    background-size: 100%; }
  .footer-column-bottom ul li .icon-twitter {
    background: url(../img/svg/social/twitter.svg) 0 0 no-repeat;
    background-size: 100%; }

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 20px; }
  .footer-bottom p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 25px 25px; }
  .footer-bottom span {
    color: #f0626e; }

.container {
  max-width: 1170px;
  width: 97%;
  margin: 0 auto; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  color: #00a1be;
  border-bottom: 1px solid #b9b9b9;
  padding: 10px;
  padding-left: 30px; }

h3 {
  margin: 0; }

h4 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #434343;
  letter-spacing: 2px;
  margin: 0; }

p {
  margin: 0; }

img {
  vertical-align: top;
  width: 100%;
  height: auto; }

button {
  outline: none;
  cursor: pointer; }
